body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: #333;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.axis-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    padding: 0.5rem;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

    .axis-container h2 {
        text-align: center;
        width: 100%;
        font-size: 1rem; 
        color: #c7cc9d;
        margin-bottom: 0.5rem;
    }

.current-values, .control-buttons, .parameters, .push-section {
    margin-bottom: 0.5rem;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 1rem);
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 0.3rem;
    margin-top: 0.3rem;
    border: none;
    border-radius: 4px;
    background-color: #622e75;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem; 
    box-sizing: border-box;
}

    button:hover {
        background-color: #7c8c41;
    }

.parameters h3, .push-section h3 {
    text-align: center;
    font-size: 0.9rem; 
    color: #333;
    margin-bottom: 0.5rem;
}

.result-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    position: relative;
}

    .result-toggle label.toggle-wrapper {
        display: flex;
        align-items: center;
        gap: 0.3rem; 
    }

    .result-toggle input.toggle {
        --s: 30px; 
        height: calc(var(--s) + var(--s)/5);
        width: auto;
        aspect-ratio: 2.25;
        border-radius: var(--s);
        margin: 0;
        display: grid;
        cursor: pointer;
        background-color: #ff7a7a;
        box-sizing: content-box;
        overflow: hidden;
        transition: background-color 0.3s, transform 0.3s;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        .result-toggle input.toggle:before {
            content: "";
            padding: calc(var(--s)/10);
            --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #000 96%, #0000);
            background: var(--_g) 0 / var(--_p, var(--s)) 100% no-repeat content-box, var(--_g) var(--_p, 0) / var(--s) 100% no-repeat content-box, #fff;
            mix-blend-mode: darken;
            filter: blur(calc(var(--s)/12)) contrast(11);
            transition: .4s, background-position .4s .1s, padding cubic-bezier(0, calc(var(--_i, -1) * 200), 1, calc(var(--_i, -1) * 200)) .25s .1s;
        }

        .result-toggle input.toggle:checked {
            background-color: #85ff7a; 
        }

            .result-toggle input.toggle:checked:before {
                padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
                --_p: 100%;
                --_i: 1;
            }

    .result-toggle .toggle-text {
        font-size: 0.65rem; 
        pointer-events: none;
        transition: color 0.3s;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

        .result-toggle .toggle-text.empty {
            color: #ff0000; 
            display: block;
        }

        .result-toggle .toggle-text.full {
            color: #00ff00; 
            display: none;
        }

    .result-toggle input.toggle:checked ~ .toggle-text.empty {
        display: none;
    }

    .result-toggle input.toggle:checked ~ .toggle-text.full {
        display: block;
    }

.vertical-line {
    width: 1px;
    background-color: #ccc;
    align-self: stretch;
    margin: 0 1rem;
}




@media (max-width: 768px) {
    .main-container {
        align-items: center;
        padding: 0.5rem;
    }

    .axis-container {
        width: 160px;
        margin: 0.25rem;
    }


    .result-toggle .toggle-text {
        font-size: 0.6rem; 
    }

    button {
        font-size: 0.7rem; 
    }
}


@media (max-width: 320px) {
    .axis-container {
        width: 200px; 
        margin: 0.25rem;
    }

        .axis-container h2, .parameters h3, .push-section h3 {
            font-size: 0.8rem; 
        }

    input[type="text"] {
        width: calc(100% - 0.5rem);
    }

    .main-container {
        align-items: center;
        padding: 0.5rem;
        width: 300px;
    }

    .result-toggle .toggle-text {
        font-size: 0.65rem; 
    }

    button {
        font-size: 0.65rem; 
    }

    label {
        font-size: 0.75rem;
    }

    footer {
        width: 300px;
    }
}
